@layer utilities {
    .icon-default {
        @apply w-[1.5625vw] h-[1.5625vw]
    }
    .icon-header {
        @apply w-[1.875vw] h-[1.875vw]
    }
    .icon-20 {
        @apply w-[1.5625vw] h-[1.5625vw]
    }
    .icon-24 {
        @apply w-[1.875vw] h-[1.875vw]
    }
}
